name: TDR Run Consignment Export Tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
permissions:
  id-token: write
  contents: read
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@305d1b677f31b77f35cd4679ebd469857de9e967
    with:
      repo-name: tdr-consignment-export
      test-command: |
        docker build -f Dockerfile-tests -t tests .
        sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
